
<div id="cinemadetial">
    <img src="https://static.m.maizuo.com/v4/static/app/asset/66461d1a02a9eaa64876c90952c42aed.png" alt="">

    <div class="seat">
        <i class="yo-ico">&#xe8ac;</i>
        <div>
            <h3 >订票</h3>
            <p>选好场次及座位，到影院自助机取票</p>
            <span class="schedule">立即订票</span>
        </div>
    </div>
    <div class="address">
        <i class="yo-ico">&#xe8ba;</i>
        <p>{{cinema.address}}</p>
    </div>
    <div class="phone">
        <i class="yo-ico">&#xe88b;</i>
        <p>{{cinema.telephones}}</p>
    </div>

    <div class="tablist">
        <ul class="box1">
            <li class="active"><i class="yo-ico">&#xe884;</i><span>取票</span></li>
            <li><i class="yo-ico">&#xe879;</i><span>3D</span></li>
            <li><i class="yo-ico">&#xe90a;</i><span>停车</span></li>
            <li><i class="yo-ico">&#xe8a6;</i><span>优惠</span></li>
            <li><i class="yo-ico">&#xe8cd;</i><span>交通</span></li>
        </ul>
        <ul class="box2">
            <li class="active">暂无信息</li>
            <li>免押金</li>
            <li>影城楼下收费停车场</li>
            <li>暂无信息</li>
            <li>{{cinema.bus}}</li>
        </ul>
    </div>


</div>

