<nav>
    <div>
        <i class="yo-ico nav">&#xe645;</i>
        <span class="title">卖座电影</span>
    </div>
    <div>
        <span class="city"><span class="cityname">北京</span>
            <i class="yo-ico">&#xe62e;</i></span>
        <i class="yo-ico me">&#xe63f;</i>
    </div>
</nav>
<aside data-show="hide">
    <ul>
        <li><span>首页</span><i class="yo-ico">&#xe62d;</i></li>
        <li><span>影片</span><i class="yo-ico">&#xe62d;</i></li>
        <li><span>影院</span><i class="yo-ico">&#xe62d;</i></li>
        <li><b>商城</b><i class="yo-ico">&#xe62d;</i></li>
        <li><b>我的</b><i class="yo-ico">&#xe62d;</i></li>
        <li><span>卖座卡</span><i class="yo-ico">&#xe62d;</i></li>
    </ul>
    <div></div>
</aside>
<main>
    <div id="content">

    </div>
</main>