<div id="me">
    <div class="title">
        <img src="https://pic.maizuo.com/usr/default/maizuomoren66.jpg" alt="">
        <div>
            <p class="username">手机用户7540</p>
            <p class="userid">ID:220543881</p>
            <span class="quit">退出</span>
        </div>
    </div>
    <div class="info">
        <p><i class="yo-ico">&#xe884;</i>影票订单</p>
        <p><span>0</span>张<span>></span></p>
    </div>
    <div class="info">
        <p><i class="yo-ico">&#xe641;</i>影票代付订单</p>
        <p><span>0</span>张<span>></span></p>
    </div>
    <div class="info ">
        <p><i class="yo-ico">&#xe658;</i>商城订单</p>
        <p><span class="span">></span></p>
    </div>

    <div class="div">
        <div class="info">
            <p><i class="yo-ico">&#xe649;</i>我的现金券</p>
            <p><span>0</span>张<span>></span></p>
        </div>
        <div class="info">
            <p><i class="yo-ico">&#xe640;</i>账户余额</p>
            <p><span>0</span>元<span>></span></p>
        </div>
        <div class="info">
            <p><i class="yo-ico">&#xe884;</i>我的卖座卡</p>
            <p><span>0</span>张<span>></span></p>
        </div>
    </div>

    <div class="info ">
        <p><i class="yo-ico ">&#xe62f;</i>设置</p>
        <p><span class="span">></span></p>
    </div>
</div>